body {
  background-color: whitesmoke !important;
}

/*
  #fff1e1
  #1d3c45
  #d2601a
  */

/* Navbar CSS start*/
.btn {
  background-color: #1d3c45 !important;
}
.btn-dark:hover {
  background-color: #d2601a !important;
}

.nav-item {
  margin-right: 20px !important;
}

.nav-link {
  color: #1d3c45 !important;
}
.nav-link:hover {
  color: #d2601a !important;
}

.active {
  font-weight: bold !important;
}

.navbar {
  background-color: white !important;
}
/* Navbar CSS end*/

/* Form CSS start */
form h1 {
  color: #1d3c45;
}

.form-label {
  color: #1d3c45;
}

form textarea {
  resize: none;
  height: 100px;
}

.btn-submit {
  background-color: #1d3c45 !important;
  color: white;
  width: 100px;
  height: 30px;
}

.btn-light:hover {
  background-color: #d2601a !important;
  border: none;
}
/* Form CSS end */
