*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(227, 238, 238);
}

/*Header CSS*/
nav{
    background-color: white;
    height: 80px;
}

.header{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 30px;
    margin-right: 30px;
}

.header ul{
    font-size: 20px;
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 35px;
}

.header li{
    /* background-color: antiquewhite; */
    width: 90px;
}

.header img{
    height: 50px;
}

.nav-link a {
color: black;
text-decoration: none;
}

.nav-link a:hover{
    color: orangered;
}

.btn-contact{
    background-color:black;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}

.header-contact {
    display: flex;
    width: 100%;
    justify-content: end;
}

.header-contact :hover{
    background-color: orangered;
    color: white;
}

/* Form CSS */
.container{
    /* background-color: teal; */
    margin: 100px auto;
    display: flex;
    justify-content: center;
    width: 50%;
}

.form-contact{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
}

label{
    font-size: 15px;
    font-weight: bold;
}

.input-contact{
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.form-contact textarea{
    resize: none;
    
}

.submit-contact{
    width: 80px;
    height: 25px;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.form-contact .submit-contact:hover{
    background-color: orangered;
}

/* Repomsive Navbar */

.header-hamburger{
    display: none;
}

.hamburger-nav-container{
    display: none;
}

.hamburger-nav-container a{
    display: none;
}

@media only screen and (max-width: 500px) {
    .hamburger-nav-container {
        background-color:orangered;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    
    .hamburger-nav-container a {
        display: block;
        text-decoration: none;
        font-size: 20px;
        background-color: orangered;
        color: white;
        padding: 10px 0;
    }
    
    .hamburger-nav-container .active{
        background-color: white;
        color: black;
    }
    
    
    .hamburger-nav-container a:hover{
        background-color: white;
        color: black;
    }
    
    .hamburger-nav-container .active:hover{
        color: orangered;
    }    
    
    .header-hamburger{
        display: flex;
        width: 100%;
        justify-content: end;
    }
    
    .header-hamburger i{
        margin: auto 0;
        font-size: 30px;
    }
    
    .header-hamburger i:hover{
        background-color: white;
        color: orangered;
    }

    .nav-link, .header-contact{
        display: none;
    }
}