body {
  background-color: whitesmoke !important;
}

/*
  #fff1e1
  #1d3c45
  #d2601a
  */
/* Navbar CSS start*/

.btn {
  background-color: #1d3c45 !important;
}
.btn-dark:hover {
  background-color: #d2601a !important;
}

.nav-item {
  margin-right: 20px !important;
}

.nav-link {
  color: #1d3c45 !important;
}
.nav-link:hover {
  color: #d2601a !important;
}

.active {
  font-weight: bold !important;
}

.navbar {
  background-color: white !important;
}

/* Blog From Css */
.blog-form {
  padding: 50px 0;
  /* background-color: thistle; */
  display: flex;
  justify-content: center;
}

.blog-form .form-container {
  width: 30%;
  /* background-color: white; */
  padding: 20px;
  /* border-radius: 5px;
    box-shadow: 0 5px 5px grey; */
}

.blog-form .form-container h1 {
  text-align: center;
  margin-bottom: 40px;
}

form label {
  font-size: 15px;
  font-weight: bold;
}

.blog-form form .textbar,
textarea {
  font-size: 20px;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px grey;
  border: none;
}

form .date-input {
  display: flex;
  width: 100%;
  /* background-color: brown; */
}

.date-input .start {
  width: 50%;
}

.date-input .end {
  width: 50%;
  justify-content: end;
  margin-left: 30px;
}

.form-container textarea {
  resize: none;
  height: 100px;
  box-shadow: 0px 2px 5px grey;
}

form p {
  font-size: 15px;
  font-weight: bold;
}

.radio-button {
  /* background-color: aquamarine; */
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.radio-button div {
  /* background-color: violet; */
  width: 20%;
}

.image-content input {
  width: 100%;
  background-color: white;
  border: 1px black;
  font-size: 20px;
  box-shadow: 0px 2px 5px grey;
  margin-bottom: 20px;
}

form .button-submit {
  display: flex;
  justify-content: end;
}

.button-submit button {
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 5px 25px;
  font-size: 15px;
  cursor: pointer;
}

.button-submit :hover {
  background-color: orangered;
}

hr {
  width: 100%;
  margin: 20px;
  border: 1px solid orangered;
}

.project-title {
  text-align: center;
  margin-bottom: 20px;
}

/* Content CSS */

.project-list {
  width: 50%;
  margin: 10px auto;
  padding: 10px 0;
}

.project-card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 80%;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 2px 5px grey;
}

.project-image {
  height: 400px;
  /* background-color: aqua; */
}

.project-image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
}

.project-content h2 a {
  text-decoration: none;
  color: black;
}

.project-content h2 :hover {
  color: orangered;
}

.duration-text {
  margin-bottom: 10px;
}

.text-description {
  font-size: 20px;
  margin-bottom: 10px;
}

.logo {
  margin-bottom: 10px;
}

.logo a {
  /* background-color: bisque; */
  font-size: 25px;
  color: black;
  margin-right: 20px;
}

.btn-content {
  text-align: center;
}

.btn-content :hover {
  background-color: orangered;
}

.btn-content button {
  font-size: 20px;
  background-color: black;
  color: white;
  border-radius: 15px;
  width: 90px;
  height: 30px;
  cursor: pointer;
  margin-right: 20px;
}

/* Project Detail CSS */
.project-detail-container {
  width: 80%;
  margin: 30px auto;
}

.project-detail-name {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.project-detail-info {
  background-color: antiquewhite;
  display: flex;
}

.info-image {
  background-color: brown;
  width: 50%;
  height: 400px;
  margin: 20px 0;
}

.info-image img {
  width: 100%;
  height: 400px;
  /* object-fit: cover;    */
}

.info-text {
  margin: 20px 0;
  /* background-color: violet; */
  width: 50%;
}

.info-text .text {
  width: 80%;
  /* background-color: antiquewhite; */
  margin: 0 50px;
}

.info-text .text h2,
p {
  margin-bottom: 20px;
}

.info-text .text h2 {
  font-size: 30px;
}

.info-text .text p {
  margin-left: 20px;
  font-size: 25px;
}

.project-detail-description {
  font-size: 20px;
  line-height: 35px;
}

/* Repomsive Navbar */
.header-hamburger {
  display: none;
}

.hamburger-nav-container {
  display: none;
}

.hamburger-nav-container a {
  display: none;
}

@media only screen and (max-width: 620px) {
  .hamburger-nav-container {
    background-color: orangered;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .hamburger-nav-container a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    background-color: orangered;
    color: white;
    padding: 10px 0;
  }

  .hamburger-nav-container .active {
    background-color: white;
    color: black;
  }

  .hamburger-nav-container a:hover {
    background-color: white;
    color: black;
  }

  .hamburger-nav-container .active:hover {
    color: orangered;
  }

  .header-hamburger {
    display: flex;
    width: 100%;
    justify-content: end;
  }

  .header-hamburger i {
    margin: auto 0;
    font-size: 30px;
  }

  .header-hamburger i:hover {
    background-color: white;
    color: orangered;
  }

  .nav-link,
  .header-contact {
    display: none;
  }
}
